    <footer>
        <p>{{ .Now.Year }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></p>
    </footer>
    <div class="dialog-modal"></div>

    <script>
        var mediadb = {
            "logged-in-user": "kari-nordmann"
        }
    </script>

    <script src="{{ "js/info134.uib.no/user_data.js" | relURL}}"></script>

    <script src="{{ "js/dialogs.js" | relURL}}"></script>
    <script src="{{ "js/nav.js" | relURL }}"></script>

    <script src="{{ "js/templates.js" | relURL }}"></script>
    <script src="{{ "js/utils.js" | relURL }}"></script>
    <script src="{{ "js/info134.uib.no/object.js" | relURL }}"></script>
    <script src="{{ "js/info134.uib.no/genres.js" | relURL }}"></script>
    <script src="{{ "js/info134.uib.no/reviews.js" | relURL }}"></script>
    <script src="{{ "js/info134.uib.no/query_params.js" | relURL }}"></script>
    <script src="{{ "js/info134.uib.no/search_results.js" | relURL }}"></script>
    <script src="{{ "js/info134.uib.no/all_movies.js" | relURL }}"></script>
    <script src="{{ "js/info134.uib.no/show_genre.js" | relURL }}"></script>
    <script src="{{ "js/info134.uib.no/show_movie.js" | relURL }}"></script>
    <script src="{{ "js/info134.uib.no/user_pages.js" | relURL }}"></script>

    {{ "<!-- Laget av jdr004. -->" | safeHTML }}
</body>
</html>
