    <footer>
        <p>{{ .Now.Year }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></p>
    </footer>
    <div class="dialog-modal"></div>

    <script>
        var mediadb = {}
    </script>

    <script src="{{ "js/dialogs.js" | relURL}}"></script>
    <script src="{{ "js/nav.js" | relURL }}"></script>

    <script src="{{ "js/templates.js" | relURL }}"></script>
    <script src="{{ "js/utils.js" | relURL }}"></script>
    <script src="{{ "js/object.js" | relURL }}"></script>
    <script src="{{ "js/genres.js" | relURL }}"></script>
    <script src="{{ "js/reviews.js" | relURL }}"></script>
    <script src="{{ "js/query_params.js" | relURL }}"></script>
    <script src="{{ "js/search_results.js" | relURL }}"></script>
    <script src="{{ "js/all_movies.js" | relURL }}"></script>
    <script src="{{ "js/show_genre.js" | relURL }}"></script>
    <script src="{{ "js/show_movie.js" | relURL }}"></script>
    <script src="{{ "js/profile.js" | relURL }}"></script>

    {{ "<!-- Laget av kandidat 165. -->" | safeHTML }}
</body>
</html>
