<div class="routines-section front-section">

    <h2><span>Rutiner</span></h2>

    <ol>
        <li>Følgende kan låne: staben ved Institutt for informasjons- og medievitenskap, studenter ved instituttet, på grunnlag av faglig begrunnelse, andre ved UiB etter særlig avtale for et avgrenset tidsrom eller for et avgrenset prosjekt.</li>

        <li>Bestillinger vil bli effektuert hver arbeidsdag mellom klokken 14:00 og 15:00.</li>

        <li>Ansatte ved instituttet får filmen lagt i posthyllen, studenter og andre får tilbakemelding om hvor og når filmen kan hentes.</li>

        <li>For alt utlån gjelder en generell regel om lånetid på 1 uke, som kan forlenges med ytterligere en uke. Ønskes en film lånt over en lengre periode må dette begrunnes, og hver enkelt forespørsel vil bli vurdert.</li>

        <li>Film skal leveres tilbake i posthyllen merket retur av film.</li>
    </ol>
</div>
