{{ partial "header.html" . }}
	<main>
        <div class="movie-section front-section recently-added">
            <h2><span>Siste tilgjengeliggjorte filmer</span></h2>
            <div id="recently-added-placeholder"></div>
        </div>
        <div class="movie-section front-section recently-loaned">
            <h2><span>Nettopp lånt</span></h2>
            <div id="recently-loaned-placeholder"></div>
        </div>
        <div class="movie-section front-section recommended-movies">
            <h2><span>Anbefalinger</span></h2>

            <div id="recommended-movies-placeholder"></div>
        </div>

        {{ partial "routines.html" . }}
    </main>

{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
